/* reset */
ul,
ol {
  list-style: none;
}

dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

* {
  box-sizing: border-box;
}

/* btn */
.list-button {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-width:768px) {
  .list-button {
    width: 100%;
  }
}

.list-button li {
  margin-right: 20px;
}

@media screen and (max-width:768px) {
  .list-button li {
    margin-right: 10px;
  }
}

.list-button li:last-of-type {
  margin-right: 0;
}

.list-button li a {
  border: 1px solid;
  padding: 10px;
  transition: .05s;
  display: block;
  text-align: center;
  width: 100%;
}

@media screen and (max-width:768px) {
  .list-button li a {
    font-size: 16px;
    display: block;
  }
}

.list-button li a:hover {
  text-decoration: none;
  color: #007bff;
  opacity: .7;
}

/* 結果 */
.end-share {
  margin-top: 30px;
}

.result {
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
}

.result-img {
  margin: 30px auto 50px;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .4);
  border-radius: 5px;
}

@media screen and (max-width:768px) {
  .result-img {
    width: 100%;
  }
}

@media screen and (max-width:768px) {
  .justify-content-center {
    flex-direction: column;
    align-items: center;
  }
}
